*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
.container{
    height:65vh;
    width:40vw;
    margin:100px auto;
}
.top,.bottom{
    height:10%;
    width:100%;
    text-align: center;
    align-content: center;
}
.mid{
    height:80%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
input{
    height:10%;
    width:60%;
    padding-left:5%;
    font-size: 1rem;
}
#result{
    height:20%;
    width:60%;
    font-size: 1rem;
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: rgb(22, 21, 21);
    align-content: center;
    border:none;
    outline: none;
    border-radius:7px
}
button{
    height:13%;
    width:15%;
    color:white;
    background-color: rgb(39, 163, 235);
    border:none;
    border-radius:8px;
    font-size:1rem;
    padding:1%
}
button:hover{
    background-color: rgb(72, 178, 240);
    cursor: pointer;
}
.top{
    background-color: rgb(118, 5, 133);
    color:white
}
.bottom{
    background-color: rgb(126, 54, 54);
    color:white;
}